/* assets/css/styles.css */
body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Ajuste para que el scroll no tape los títulos con el header fijo (si agregas uno luego) */
section {
    scroll-margin-top: 2rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    height: auto;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 550px; /* Evita que la imagen sea gigante en pantallas grandes */
    width: auto;
    display: block;
}

/* Color personalizado para la paginación que combine con el diseño de Paloma */
.swiper-pagination-bullet-active {
    background: #ff914d !important;
}